html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background-color: #b8b8b8b0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4rem;
}
.menu-footer > div {
    /* width: 25%; */
    /* min-width: 0rem; */
    height: auto;
    font-size: 2rem;
    margin: auto; /* esto centra los textos en la horizontal */
    padding: 2rem 2rem 0rem;
    justify-content: center;

}
main {
    margin-top: 4rem;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.center-taller, .center-obra, .center-bio, .center-contacto {
    justify-self: center;
    align-self: center;
    padding: 0.5rem;     
}
.center-taller {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.center-obra {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.center-bio {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.center-contacto {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
div > p {   
    font-size: 4rem;
    font-weight: bolder;
}
#texto-taller, #texto-biografia {
    color:  #938c8cb0;
}
#texto-obra, #texto-contacto {
    color:  #665959b0;
}
#cuadro1, #cuadro2, #cuadro3, #cuadro4 {
    width: 95%;
    height: 95%;
    border-radius: 4rem;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}
#cuadro1  {
    background-color: #F4DFD0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;    
}
#cuadro2 {
    background-color: #CDBBA7;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#cuadro3 {
    background-color: #F4DFD0;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
#cuadro4 {
    background-color: #CDBBA7;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
img {
    overflow: hidden;
    border-radius: 4rem;
    max-width: 100%;
}
