html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background-color: #b8b8b8b0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main {
    margin-top: 4rem;
} */
.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 0vw;
}

.center-taller, .center-obra, .center-bio, .center-contacto {
    justify-self: center;
    align-self: center;
    padding: 0.5rem;     
}
.center-taller {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.center-obra {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.center-bio {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.center-contacto {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
div > p {   
    font-size: 9vw;
    font-weight: bolder;
}
#texto-taller, #texto-biografia {
    color:  #938c8cb0;
}
#texto-obra, #texto-contacto {
    color:  #665959b0;
}
#logo-mano {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin: 8px 0px;
}
#logo-mano>div {
    display: flex;
    align-self: center;
}
#logo-mano>div img {
    width: 30vw;
}
#ham-menu {
    width: 30px;
    height: 25px;
    display: block;
    border: none;
    padding: 0;
    margin-top: 2vh;
    margin-left: 80vw;
    background: linear-gradient(
      to bottom, 
      #b2b2b3, #b2b2b3 20%, 
      #cdcdcd 20%, #cdcdcd 40%, 
      #b2b2b3 40%, #b2b2b3 60%, 
      #cdcdcd 60%, #cdcdcd 80%, 
      #b2b2b3 80%, #b2b2b3 100%
    );
}
#ham-menu #menu {
    visibility: hidden;
    position: fixed;
    top: -50vh;
    left: 0;
    width: 100%;
    height: 50vw;
    background-color: rgb(159, 152, 152);
    padding: 0px 10px;
    border-radius: 6px;
    box-sizing: border-box;
    transition: 0.6s;
}
#ham-menu:hover {
    background: linear-gradient(
      to bottom, 
      #cdbba7, #cdbba7 20%, 
      #cdcdcd 20%, #cdcdcd 40%, 
      #cdbba7 40%, #cdbba7 60%, 
      #cdcdcd 60%, #cdcdcd 80%, 
      #cdbba7 80%, #cdbba7 100%
    );
}
#menu li:hover {
    background-color: rgba(0, 128, 0, 0.103);
}
#ham-menu:focus #menu, 
#ham-menu:focus-within #menu {
    visibility: visible;
    top: 0px;
    z-index: 1;
}
#ham-menu:focus ~.container {
    top: 50vw;
    transition: 0.6s;
}
#ham-menu ul {
    height: auto;
    font-size: 6vw;
    margin: 1rem; 
    list-style-type: none;
}
#ham-menu ul li {
    margin: 1rem;
}
#ham-menu a {
    text-decoration: none;
    color: whitesmoke;
}
#cuadro1, #cuadro2, #cuadro3, #cuadro4 {
    width: 45vw;
    height: 45vw;
    border-radius: 6vw;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}
#cuadro1:hover {
    background-color: #eed0ba ;
}
#cuadro3:hover {
    background-color: #eed0ba ;
}
#cuadro2:hover {
    background-color: #d4b99a ;
}
#cuadro4:hover {
    background-color: #d4b99a ;
}
#cuadro1  {
    position: relative;
    background-color: #F4DFD0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;        
}
#cuadro2 {
    position: relative;
    background-color: #CDBBA7;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#cuadro3 {
    position: relative;
    background-color: #F4DFD0;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
#cuadro4 {
    position: relative;
    background-color: #CDBBA7;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
img {
    overflow: hidden;
    border-radius: 6vw;
    width: 43vw;
}
.links {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}